{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
Фильмы
{% endblock %}

{% block content %}
<h1>Фильмы</h1>

<div class="films">

  {% if latest_films_list %}

     {% for a in latest_films_list %}
        <div class="board">
            <img src="{{ MEDIA_URL }}{{ a.image.url }}" alt="">
            <a href="{% url 'films:detail' a.id %}">{{a.title}}</a>
            {% if a.was_published_recently %}
            <span>Новинка</span>
            {% endif %}
            <p>{{a.pub_date}}</p>
        </div>
     {% endfor %}

  {% else %}
    <div>Фильм не найден</div>
  {% endif %}

</div>
<div class="paginate">{% bootstrap_pagination latest_films_list pages_to_show=5 %}</div>
{% endblock %}