html {
	padding: 0;
	margin:0;
	height: 100%;
}

body {
    padding: 0;
	margin:0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
	height:100%;
	position:relative;
	min-height: 100%;
}

header {
	margin:0;
	padding:0;
	width:100%;
	height: 60px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color: #394048;
	border-bottom:3px solid rgba(240,240,240,0.85);

}

.head-block1 {
	width:10%;
	text-align:center;
}

.head-block2 {
	width:70%;
}

button {
	margin:0;
	background:none;
	border:none;
	width:100%;
}

.main-nav__list-close,
.main-nav__list-open {
	margin:0;
	padding:0;
	width:100%;
	display: flex;
	justify-content:space-around;
	align-items: center;
	background: none;
	list-style:none;
	}

.main-nav__list-close a,
.main-nav__list-open a {
 color:white;
 text-decoration:none;
}

.main-nav__list-close a:hover,
.main-nav__list-open a:hover {
color:#f60;
}

main {
    width:100%;
	margin:0;
	padding:0;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: center;
}

/* Начинается описание Слайд-шоу*/
.slideshow-container {
  position: relative;
  margin: 0;
}

.mySlides {
	margin:0 5%;
	height:520px;
	width:100%;
}

.numbertext {
  line-height: 1.4;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  background-color:rgba(0,0,0,0.3);
  border-radius: 8px;
  color: rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 1px #F8F8FF;
  font-size: 15px;
  padding: 4px 6px;
  position: absolute;
  right: 5%;
  top: 5px;
  width: 50%;
  text-align: center;
  font-family:  Impact, Arial;
}

.numbertext a {
	color:#394048;
	text-decoration:none;
	font-family: GangofThreeRUSvDavmarius;
}

.slide img {
	margin: 0;
	height:520px;
	width:100%;
	background-size: cover;
}

.slide {
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1.0s;
  animation-name: slide;
  animation-duration: 1.0s;
  margin: 0;
}

@-webkit-keyframes slide {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes slide {
  from {opacity: .4}
  to {opacity: 1}
}
/* Конец описания Слайд-шоу*/

.films {
width:100%;
margin:0;
padding:0;
margin-top:10px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-template-rows: repeat(1, 350px);
grid-gap: 15px;
}

.board {

}

.board a,
.board a:focus,
.board a:active {
color: black;
text-decoration:none;
}

.board a:hover {
color:#f60;
}

.board span {
  font-family: Arial,sans-serif;
  float:right;
  padding: 1px;
  font-size: 11px;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 3.2s linear infinite;
}

@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

.comment {
	width:100%;
	display:flex;
flex-direction:column;

}

.post {
	display: flex;
	margin-top:10px;
	position: relative;
  padding: 15px;
  width: 50%;

}



.post:nth-child(odd) {
	background: #E1F1FF;
	
	}

.post:nth-child(even) {
	background: white;
	flex-direction: row-reverse;
	margin-left: 50%;
	background: #f0f0f0;
	}

 .post:nth-child(even)::after {
  content: '';
  display: block;
  position: absolute;
  
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 28px solid #f0f0f0;
  border-right: 0px solid transparent;
  border-left: 15px solid transparent;
  transform: rotate(15deg);
  right: 15px;
  top: -25px;
  }

.form {
	text-align:center;	
width: 50%;	
margin-bottom:15px;

}

.form form {
	width:100%;
	box-shadow: 0 4px 16px #ccc;
    border-radius: 8px;
	padding-top:15px;  
}

.form_title { 
         text-align: center; 
         margin: 0 0 32px 0; 
         font-weight: bold;
		 margin-top:20px;
 }

.form_user {
	width: 100%;
	color: #9e9e9e;
	text-align:left;
	font-weight: bold;
	margin-bottom:25px;
	padding: 0 0 10px 5%;
	transition: 0.3s;
}

.form_user span {
	color:black;
}

.form_grup {
         position: relative;
         margin-bottom: 32px;
		 
}


 .form_label {
         position: absolute; 
         top: -18px;
         z-index: -1; 
         color: #9e9e9e;
         transition: 0.3s;
 }

.form_input {
         width: 90%;
         padding: 0 0 10px 0;
         border: none;
         border-bottom: 1px solid #e0e0e0; 
         background-color: transparent; 
         outline: none;
         transition: 0.3s;
		 
 }
 


.form_input:focus {
         border-bottom: 1px solid #1a73a8;
 }
 

.form .send {
	width: 35%;
	margin-bottom:25px;
	padding: 10px 20px;
         border: none; 
         border-radius: 5px; 
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16xp;
         color :#fff ; 
         background-color: #0071f0; 
         outline: none; 
         cursor: pointer; 
         transition: 0.3s;
}

.board img {
width: 100%;
height:300px;
}

footer {
	font-family: Times New Roman, Arial;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background: #394048;
	height: 100px;
	margin: 0;
	width: 100%;
}

.paginate {
text-align:center;	
}

.footer-column {
    width:50%;
	color: white;
}

.footer-left {
	
	line-height:10px;
	height:70px;
	text-align:center;
}

.footer-right {
	line-height:10px;
	height:70px;
	text-align:center;
}