{% extends 'base.html' %}

{% load bootstrap3 %}
{% block title %}
Мультфильмы
{% endblock %}

{% block content %}
<h1>Мультфильмы</h1>

<div class="films">

  {% if latest_cartoons_list %}

     {% for a in latest_cartoons_list %}
        <div class="board">
            <img src="{{ MEDIA_URL }}{{ a.image.url }}" alt="">
            <a href="{% url 'cartoons:detail' a.id %}">{{a.title}}</a>
            {% if a.was_published_recently %}
            <span>Новинка</span>
            {% endif %}
            <p>{{a.pub_date}}</p>
        </div>
     {% endfor %}
	 

  {% else %}
    <div>Мультфильм не найден</div>
  {% endif %}

</div>
<div class="paginate">{% bootstrap_pagination latest_cartoons_list pages_to_show=5 %}</div>
{% endblock %}